<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_KEY" value="base64:su4E27ApCRkNkJ4EpSoJh95SyVyrmjz8tszVdhUHoyw="/>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="DATABASE_DRIVER" value="testing"/>
        <env name="MAIL_DRIVER" value="log"/>

        <env name="SITE_HOST" value="http://bvam-provider.dev"/>
        <env name="MY_BVAM_PROVIDER_DOMAINS" value="bvam-provider.dev"/>

        <env name="XCHAIN_API_KEY" value="TEST"/>
        <env name="XCHAIN_API_TOKEN" value="TEST"/>
    </php>
</phpunit>
